body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

h1 {
  color: #947EED ;
  font-family: Futura;
  font-size: 25px;
  text-align: center;
  text-shadow: 2px 2px navy;
}

p {
  color: #947EED ;
  size: 30px;
  text-align: center;
  top: 0;
  left: 0;
  right: 5px;
  display: inline;
  margin: 5px;
  text-shadow: 2px 2px navy;
}

#bg2 {
  z-index: 1
}

#song {
  position: absolute;
      bottom: 15px;
      right: 15px;
}

#controls {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

 #cadre {
   width: 200px;
   perspective: 600px;
   perspective-origin: center top;
   z-index: 1;
   right: 1500px;
   transform: translateX(590px) translateY(150px) translateZ(300px);
 }

 .butterfly {
   width: 100%;
   height: 100%;
   position: absolute;
   transform-style: preserve-3d;
   filter: hue-rotate(180);
 }

 .wing {
   position: absolute;
   width: 100px;
   height: 200px;
   border-radius: 100px; /* make squares into circles */
   opacity: 0.9;
   background: violet;
   background-image: url('giphy.gif');
   /*filter: grayscale(100%);*/
   background-size: 200px 200px;
   transform-origin: center bottom;
 }

 .center {
   position: absolute;
   width: 50px;
   height: 100px;
   border-radius: 50px;
   background-image: url('giphy.gif');
   background-blend-mode: overlay;
   transform: rotateX(90deg) translateX(25px) translateZ(-140px);
 }
 .eye1 {
   position: absolute;
   width: 10px;
   height: 10px;
   border-radius: 30px;
   background-image: url('giphy.gif');
   transform: rotateX(90deg) translateX(30px) translateZ(-140px) translateY(-50px) translateZ(-40px) ;

 }
 .eye2 {
   position: absolute;
   width: 10px;
   height: 10px;
   border-radius: 30px;
   background-image: url('giphy.gif');
   transform: rotateX(90deg) translateX(25px) translateZ(-140px) translateX(30px) translateY(-50px) translateZ(-40px);

 }

 /* wing1 */
 .wing:nth-child(2) {
   transform: rotateY(45deg) translateZ(65px) rotate3d(-2, 0.5, 0, 45deg);
 }

 /* wing2 */
 .wing:nth-child(3) {
   transform: rotateY(135deg) translateZ(65px) rotate3d(-2, 0.5, 0, 45deg);
 }

 /* wing3 */
 .wing:nth-child(4) {
   transform: rotateY(225deg) translateZ(65px) rotate3d(-2, 0.5, 0, 45deg);
 }

 /* wing4 */
 .wing:nth-child(5) {
   transform: rotateY(315deg) translateZ(65px) rotate3d(-2, 0.5, 0, 45deg);
 }


@keyframes rotate2 {
   0% {transform: rotateY(45deg) translateZ(65px) rotate3d(-2, 0.5, 0, 45deg);}
   50% {transform: rotateY(45deg) rotateX(-45deg) translateZ(65px) rotate3d(-2, 0.5, 0, 45deg);}
   100% {transform: rotateY(45deg) translateZ(65px) rotate3d(-2, 0.5, 0, 45deg);}

 }

@keyframes rotate3 {
  0% {transform: rotateY(135deg) translateZ(65px) rotate3d(-2, 0.5, 0, 45deg);}
  50% {transform: rotateY(135deg) rotateX(-45deg) translateZ(65px) rotate3d(-2, 0.5, 0, 45deg);}
  100% {transform: rotateY(135deg) translateZ(65px) rotate3d(-2, 0.5, 0, 45deg);}
}

@keyframes rotate4 {
  0% {transform: rotateY(225deg) translateZ(65px) rotate3d(-2, 0.5, 0, 45deg);}
  50% {transform: rotateY(225deg) rotateX(-45deg) translateZ(65px) rotate3d(-2, 0.5, 0, 45deg);}
  100% {transform: rotateY(225deg) translateZ(65px) rotate3d(-2, 0.5, 0, 45deg);}
}

@keyframes rotate5 {
  0% {transform: rotateY(315deg) translateZ(65px) rotate3d(-2, 0.5, 0, 45deg);}
  50% {transform: rotateY(315deg) rotateX(-45deg) translateZ(65px) rotate3d(-2, 0.5, 0, 45deg);}
  100% {transform: rotateY(315deg) translateZ(65px) rotate3d(-2, 0.5, 0, 45deg);}
}

@keyframes translate {
  0% {transform: rotateX(90deg) translateX(25px) translateZ(-140px);}
  50% {transform: translateY(60px) rotateX(90deg) translateX(25px) translateZ(-140px);}
  100% {transform: translateY(0px) rotateX(90deg) translateX(25px) translateZ(-140px);}
}

@keyframes translate2 {

  0% {transform: rotateX(90deg) translateX(30px) translateZ(-140px) translateY(-50px) translateZ(-40px);}
  50% {transform: rotateX(90deg) translateX(30px) translateZ(-140px) translateY(-50px) translateZ(-40px) translateZ(-55px)};
  100% {transform: rotateX(90deg) translateX(30px) translateZ(-140px) translateY(-50px) translateZ(-40px);}
}

@keyframes translate3 {
  0% {transform: rotateX(90deg) translateX(25px) translateZ(-140px) translateX(30px) translateY(-50px) translateZ(-40px);}
  50% {transform: rotateX(90deg) translateX(25px) translateZ(-140px) translateX(30px) translateY(-50px) translateZ(-40px) translateZ(-55px);}
  100% {transform: rotateX(90deg) translateX(25px) translateZ(-140px) translateX(30px) translateY(-50px) translateZ(-40px);}

}

 #cadre .wing:nth-child(2) {

   animation-name: rotate2;
   animation-iteration-count: infinite;
   animation-duration: 4s;
 }

 #cadre .wing:nth-child(3) {

   animation-name: rotate3;
   animation-iteration-count: infinite;
   animation-duration: 4s;
 }

 #cadre .wing:nth-child(4) {

   animation-name: rotate4;
   animation-iteration-count: infinite;
   animation-duration: 4s;
 }

 #cadre .wing:nth-child(5) {

   animation-name: rotate5;
   animation-iteration-count: infinite;
   animation-duration: 4s;
 }

 #cadre .center {
   animation-name: translate;
   animation-iteration-count: infinite;
   animation-duration: 4s;
 }

 #cadre .eye1 {
   animation-name: translate2;
   animation-iteration-count: infinite;
   animation-duration: 4s;
 }

 #cadre .eye2 {
   animation-name: translate3;
   animation-iteration-count: infinite;
   animation-duration: 4s;
 }
