body {
	height: 100vh;
	font-family: 'Slabo 27px', serif;
	display: flex;
	flex-direction: column;
  background-color: white;
}

header {
	margin-bottom: 75px;
}

img {
  position: absolute;
  left: 25%;
}


#s1 {
  position: absolute;
    bottom: 15px;
    right: 15px;
}

#s2 {
  position: absolute;
    bottom: 15px;
    left: 15px;
}

#s3 {
  position: absolute;
    top: 15px;
    right: 15px;
}

#s4 {
  position: absolute;
    top: 15px;
    left: 15px;
}


.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;

}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}

/*text*/

h1 {
	font-family: Futura-Bold;
	font-size: 60px;
	color: red;
	text-align: center;

}

h2 {
	font-family: Futura-Bold;
	font-size: 60px;
	color: #78c9f5;
	text-align: center;

}

h3 {
	font-family: Futura-Bold;
	font-size: 60px;
	color: #c72c79;
	text-align: center;

}

h4 {
	font-family: Futura-Bold;
	font-size: 60px;
	color: black;
	text-align: center;

}
